<!-- hours create.html -->
{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<form method="post" novalidate>
{% csrf_token %}

  <div class="row">
    <div class="col-2">
      {{ form.Year|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.Week|as_crispy_field }}
    </div>
    <div class="col-8">
      
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <b>Monday</b>
      <hr class="divider"></hr>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      Shifts
      <hr class="divider"></hr>
    <div>
      Day
    </div>
    <div>
      Evening
    </div>
    <div>
      Night
    </div>
    </div>
    <div class="col-1">
      Operator
      <hr class="divider"></hr>
      <div>
        <select name="monday-Day_Shift" id="monday-Day_Shift">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
      </div>
      <div> 
        <select name="monday-Evening_Shift" id="monday-Evening_Shift">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
      </div>
      <div>
        <select name="monday-Night_Shift" id="monday-Night_Shift">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="col-5">
      {{ monday_form.Beam|as_crispy_field }}
      {{ monday_form.Source|as_crispy_field }}
    </div>
    <div class="col-5">
      {{ monday_form.Customer|as_crispy_field }}
      {{ monday_form.Prjoect_Code|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{ monday_form.Scheduled_Hours|as_crispy_field }}
      {{ monday_form.Delivered_Hours|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ monday_form.No_Operators|as_crispy_field }}
      {{ monday_form.Notes|as_crispy_field }}
    </div>
  </div>


<br><br><br>

  <div class="row">
    <div class="col-12">
      <b>Tuesday</b>
      <hr class="divider"></hr>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      Shifts
      <hr class="divider"></hr>
    <div>
      Day
    </div>
    <div>
      Evening
    </div>
    <div>
      Night
    </div>
    </div>
    <div class="col-1">
      Operator
      <hr class="divider"></hr>
      <div>
        <select name="tuesday-Day_Shift" id="tuesday-Day_Shift">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
      </div>
      <div> 
        <select name="tuesday-Evening_Shift" id="tuesday-Evening_Shift">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
      </div>
      <div>
        <select name="tuesday-Night_Shift" id="tuesday-Night_Shift">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="col-5">
      {{ tuesday_form.Beam|as_crispy_field }}
      {{ tuesday_form.Source|as_crispy_field }}
    </div>
    <div class="col-5">
      {{ tuesday_form.Customer|as_crispy_field }}
      {{ tuesday_form.Prjoect_Code|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{ tuesday_form.Scheduled_Hours|as_crispy_field }}
      {{ tuesday_form.Delivered_Hours|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ tuesday_form.No_Operators|as_crispy_field }}
      {{ tuesday_form.Notes|as_crispy_field }}
    </div>
  </div>

<br><br><br>

  <div class="row">
    <div class="col-12">
      <b>Wednesday</b>
      <hr class="divider"></hr>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      Shifts
      <hr class="divider"></hr>
    <div>
      Day
    </div>
    <div>
      Evening
    </div>
    <div>
      Night
    </div>
    </div>
    <div class="col-1">
      Operator
      <hr class="divider"></hr>
      <div>
        <select name="wednesday-Day_Shift" id="wednesday-Day_Shift">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
      </div>
      <div> 
        <select name="wednesday-Evening_Shift" id="wednesday-Evening_Shift">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
      </div>
      <div>
        <select name="wednesday-Night_Shift" id="wednesday-Night_Shift">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="col-5">
      {{ wednesday_form.Beam|as_crispy_field }}
      {#{ wednesday_form.Source|as_crispy_field }#}
    </div>
    <div class="col-5">
      {#{ wednesday_form.Customer|as_crispy_field }#}
      {#{ wednesday_form.Prjoect_Code|as_crispy_field }#}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {#{ wednesday_form.Scheduled_Hours|as_crispy_field }#}
      {#{ wednesday_form.Delivered_Hours|as_crispy_field }#}
    </div>
    <div class="col-6">
      {#{ wednesday_form.No_Operators|as_crispy_field }#}
      {#{ wednesday_form.Notes|as_crispy_field }#}
    </div>
  </div>
</div>
</div>

<br><br><br>

  

      <div class="col-1">
        Thursday
        <hr class="divider"></hr>
        <div>
        <select name="Day_Shift_Thursday" id="Day_Shift_Thursday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
        </div>
        <div> 
        <select name="Evening_Shift_Thursday" id="Evening_Shift_Thursday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
        </div>
        <div>
        <select name="Night_Shift_Thursday" id="Night_Shift_Thursday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
        </div>
      </div>

      <div class="col-1">
        Friday
        <hr class="divider"></hr>
        <div>
        <select name="Day_Shift_Friday" id="Day_Shift_Friday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
        </div>
        <div> 
        <select name="Evening_Shift_Friday" id="Evening_Shift_Friday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
        </div>
        <div>
        <select name="Night_Shift_Friday" id="Night_Shift_Friday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
        </div>
      </div>

      <div class="col-1">
        Saturday
        <hr class="divider"></hr>
        <div>
        <select name="Day_Shift_Saturday" id="Day_Shift_Saturday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
       </div>
       <div>
       <select name="Evening_Shift_Saturday" id="Evening_Shift_Saturday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
        </div>
        <div>
        <select name="Night_Shift_Saturday" id="Night_Shift_Saturday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
            <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
        </div>
      </div>

      <div class="col-1">
        Sunday
        <hr class="divider"></hr>
        <div>
        <select name="Day_Shift_Sunday" id="Day_Shift_Sunday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
          <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
       </div>
       <div>
       <select name="Evening_Shift_Sunday" id="Evening_Shift_Sunday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
          <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
        </div>
        <div>
        <select name="Night_Shift_Sunday" id="Night_Shift_Sunday">
          <li><option value="None" selected>None</li></option>
          {% for Operator in object_list %}
          <li><option value={{Operator}}>{{Operator}}</li></option>
          {% endfor %}
        </select>
        </div>
      </div>
    </div>

    <br><br>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-success">Save Hours</button>
    </div>
  </form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}

<!--
  Day = models.DateField(blank = True, null=True)
  Day_Shift = models.CharField(max_length=50, blank = True, null=True)
  Evening_shift = models.CharField(max_length=50, blank = True, null=True)
  Night_Shift = models.CharField(max_length=50, blank = True, null=True)
  Beam = models.CharField(max_length=50, blank = True, null=True)
  Source = models.CharField(max_length=50, blank = True, null=True)
  Customer = models.CharField(max_length=50, blank = True, null=True)
  Prjoect_Code = models.CharField(max_length=50, blank = True, null=True)
  Scheduled_Hours = models.CharField(max_length=50, blank = True, null=True)
  Delivered_Hours = models.CharField(max_length=50, blank = True, null=True)
  No_Operators = models.CharField(max_length=50, blank = True, null=True)
  Notes_Monday = models.TextField(blank = True, null=True)
  Notes_Tuesday = models.TextField(blank = True, null=True)
  Notes_Wednesday = models.TextField(blank = True, null=True)
  Notes_Thursday = models.TextField(blank = True, null=True)
  Notes_Friday = models.TextField(blank = True, null=True)
  Notes_Saturday = models.TextField(blank = True, null=True)
  -->