<!--  summary home.html -->
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script type="text/javascript">
  $(document).ready(function(){
    $('.statuscheckbox').click(function() {
      var txt="";
          $('.statuscheckbox:checked').each(function(){
            txt+=$(this).val()+","
          })
          $('#statusvalue').val(txt);
    })
  })

</script>
<br><br>
<script type="text/javascript">
  function update(status, bar){
  $.ajax({
    url: 'summary/home/',
    data : {
        'status': foo,
        'bar': bar
    },
    success: function (data) {
        
    }
});
}
</script>
<form method="post" action="" novalidate>
  {% csrf_token %}
<!--
  $("#idImg").html(data); stond hier boven
  <div id="container" style="width: 75%;">
    <canvas id="pie-chart" data-url="{% url 'pie-chart' %}"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ],
          label: 'Status'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
-->
  <div class="row justify-content-center">
    Show chart based on: <input type="text" name="status" id="statusvalue" size="30">
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <!--Status <input type="checkbox" value="The status" class="statuscheckbox">-->
      {{ form.status }}
    </div>
    <div class="col-2">
      Requested hours <input type="checkbox" value="requested" class="requested-checkbox">
    </div>
    <div class="col-2">
      Deliverd hours <input type="checkbox" value="deliverd" class="deliverd-checkbox">
    </div>
  </div>

  <div id="container" style="width: 85%;">
    <canvas id="bar-chart" data-url="{% url 'bar-chart' %}"></canvas>
  </div>

  <script>

    $(function () {

      var $barChart = $("#bar-chart");
      $.ajax({
        url: $barChart.data("url"),
        success: function (data, data1) {

          var ctx = $barChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Hours requested',
                backgroundColor: 'red',
                data: data.data
              },
              {
                label: 'Hours deliverd',
                backgroundColor: 'green',
                data: data.data1
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Hours Bar Chart'
              }
            }
          });

        }
      });

    });

  </script>
<br><br><br>
<!--
  <script src="/static/Highcharts-9.3.1/code/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Historic World Population by Region'
        },
        xAxis: {
            categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania']
        },
        series: [{
            name: 'Year 1800',
            data: [107, 31, 635, 203, 20]
        }, {
            name: 'Year 1900',
            data: [133, 156, 947, 408, 60]
        }, {
            name: 'Year 2012',
            data: [1052, 954, 4250, 740, 38]
        }]
    });
  </script>

  <div id="container" data-url="{% url 'summary_chart_data' %}"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
  <script>
    $.ajax({
      url: $("#container").attr("data-url"),
      dataType: 'json',
      success: function (data) {
        Highcharts.chart("container", data);
      }
    });
  </script>--> 
<!--  <script type="text/javascript">
  <p><a href="" onclick="update(status, bar)" class="btn btn-success">Update page</a></p>-->
  <input type="submit" id="update_button" value="Update page" class="btn btn-success">
<!--    <button onclick="change(foo, bar)"> Update page </button>
  </script>-->
</form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}