{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extrahead %}
  {{ form.media }}
{% endblock %}

{% block title %}{{title }}{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    
    <br><br>
    <b>Internal contact information</b>
    <hr class="divider"></hr>

    <div class="row">
      <div class="col-6">
       {{ form.Project_Code|as_crispy_field }}
      </div>
      <div class="col-6">
       {{ form.Partrec_Contact_Name|as_crispy_field }}
     </div>
    </div>

    <div class="row">
      <div class="col-6">
       {{ form.Pac_Rate|as_crispy_field }}
      </div>
      <div class="col-6">
       {{ form.Partrec_Contact_Email|as_crispy_field }}
     </div>
    </div>

    <div class="row">
      <div class="col-6">
       {{ form.Previous_Experiment|as_crispy_field }}
      </div>
      <div class="col-6">
       
     </div>
    </div>

    <div class="row">
      <div class="col-6">
       {{ form.Status|as_crispy_field }}
      </div>
      <div class="col-6">
       
     </div>
    </div>
    <br><br>
    <b>External contact information</b>
    <hr class="divider"></hr>

    <div class="row justify-content-center">
     <div class="col-6">
      {{ form.Project_Title|as_crispy_field }}
     </div>
    </div>

    <div class="row">
     <div class="col-6">
      {{ form.Spokesperson_Name|as_crispy_field }}
     </div>
     <div class="col-6">
      {{ form.Spokesperson_Adress|as_crispy_field }}
     </div>
    </div>

    <div class="row">
     <div class="col-6">
      {{ form.Spokesperson_Phonenumber|as_crispy_field }}
     </div>
     <div class="col-6">
      {{ form.Spokesperson_Email|as_crispy_field }}
     </div>
    </div>
    <div class="row">
     <div class="col-4">
      {{ form.Collaborator_Name|as_crispy_field }}
     </div>
     <div class="col-4">
      {{ form.Collaborator_Nationality|as_crispy_field }}
     </div>
     <div class="col-4">
      {{ form.Collaborator_Home_Institute|as_crispy_field }}
     </div>
    </div>
     <br><br>
     <b>Beam information</b>
     <hr class="divider"></hr>

      <div class="row">
       <div class="col-6">
        {{ form.Start_Date|as_crispy_field }}
       </div>
       <div class="col-6">
        {{ form.End_Date|as_crispy_field }}
      </div>
     </div>
     <div class="row">
        <div class="col-6">
          {{ form.Different_Beams|as_crispy_field }}
        </div>
     </div>
        <div class="col-6">
          {{ form.Shifts|as_crispy_field }}
          {{ form.Ion_Species|as_crispy_field }}
          {{ form.Energy|as_crispy_field }}
          {{ form.Flux|as_crispy_field }}
        </div>
        <div class="col-6" id="hidden1">
          {{ form.Shifts|as_crispy_field }}
          {{ form.Ion_Species|as_crispy_field }}
          {{ form.Energy|as_crispy_field }}
          {{ form.Flux|as_crispy_field }}
        </div>
        <div class="col-6" id="hidden2">
          {{ form.Shifts|as_crispy_field }}
          {{ form.Ion_Species|as_crispy_field }}
          {{ form.Energy|as_crispy_field }}
          {{ form.Flux|as_crispy_field }}
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
         {{ form.Requiered_Equipment|as_crispy_field }}
         {{ form.Special_Requirements|as_crispy_field }}
         {{ form.Special_Safety_Procedures|as_crispy_field }}
         {{ form.Lab_Support_Requirements|as_crispy_field }}
         {{ form.Funded|as_crispy_field }}
         {{ form.Summary|as_crispy_field }}
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-success">Save New Request</button>
      </div>
  </form>
<br>
<script type="text/javascript">
    $('#hidden1').css({
       'display': 'none'
    });
    $('#hidden2').css({
       'display': 'none'
    });
    $('#id_Different_Beams').on('change', function() {
       var a = $(this).val();
       if (a === '1') {
          $('#hidden1').show();
          $('#hidden2').hide();
       }
       else if ($(this).val() == '2') {
           $('#hidden1').show();
           $('#hidden2').show();
       }
       else if ($(this).val() == '3') {
           $('#hidden1').hide();
           $('#hidden2').show();
       }
       else {
           $('#hidden1').hide();
           $('#hidden2').hide();
       }
    });
</script>
{% endblock %}
