{% load static %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"> <!-- use navbar-dark and bg-dark for dark navbar theme -->
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
     <img src="{% static '/img/favicon.ico' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
     Beamtime
    </a>
    <button
      type="button"
      data-toggle="collapse"
      data-target="#navbarMain"
      class="navbar-toggler"
      aria-controls="navbarMain"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarRequest" role="button" data-toggle="dropdown" href="">Requests</a>
            <div class="dropdown-menu" aria-labeledby="navbarRequest">
              <a class="dropdown-item" href="/beamrequest/create/">New request</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/search/?act=update&page=beamrequest">Edit request</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarHours" role="button" data-toggle="dropdown" href="">Hours</a>
            <div class="dropdown-menu" aria-labeledby="navbarHours">
              <a class="dropdown-item" href="/hours/create/">Add hours</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/search/?act=update&page=hours">Edit hours</a>
            </div>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="/beamrequest/home">Requests</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/hours/home">Hour registration</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" href="/documentation/home">Documents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/summary/home">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out - {{ user.username }}</a>
          </li>
        </ul>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li>
        {% endif %}
    </div>
  </div>
</nav>
