label {
  display: block;
  margin: 5px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 5px;
  border-bottom: 1px solid #aaa;
}


.left {
text-align:left;
}
.center {
text-align:center;
}
.right {
text-align:right;
}

@media only screen and (min-width: 960px) {
  .dropdown-hover:hover .dropdown-hover-menu {
    display: block;
    margin-top: 0;
  }
}

.Error_Messages {
  color: red;
}