<!-- request create.html -->
{% extends 'base.html' %}

{% block title %}Add Request{% endblock %}

{% load crispy_forms_tags %}

{% block extrahead %}
	
{% endblock %}



{% block content %}

	<form method="post" novalidate>
		{% csrf_token %}
		<div class="Error_Messages">
			{% for error in form.non_field_errors %}
    			{{ error }}
			{% endfor %}
		</div>
		<br><br>
		<b>Internal contact information</b>
		<hr class="divider"></hr>

		<div class="row">
			<div class="col-6">
			 {{ form.project_code|as_crispy_field }}
			</div>
			<div class="col-6">
			 {{ form.partrec_contact_name|as_crispy_field }}
		 </div>
		</div>

		<div class="row">
			<div class="col-6">
			 {{ form.pac_rate|as_crispy_field }}
			</div>
			<div class="col-6">
			 {{ form.partrec_contact_email|as_crispy_field }}
		 </div>
		</div>

		<div class="row">
			<div class="col-6">
			 {{ form.previous_experiment|as_crispy_field }}
			</div>
			<div class="col-6">
			 
		 </div>
		</div>

		<div class="row">
			<div class="col-6">
			 {{ form.status|as_crispy_field }}
			</div>
			<div class="col-6">
			 
		 </div>
		</div>
		<br><br>
		<b>External contact information</b>
		<hr class="divider"></hr>

		<div class="row justify-content-center">
		 <div class="col-6">
			{{ form.project_title|as_crispy_field }}
		 </div>
		</div>

		<div class="row">
		 <div class="col-6">
			{{ form.spokesperson_name|as_crispy_field }}
		 </div>
		 <div class="col-6">
			{{ form.spokesperson_adress|as_crispy_field }}
		 </div>
		</div>

		<div class="row">
		 <div class="col-6">
			{{ form.spokesperson_phonenumber|as_crispy_field }}
		 </div>
		 <div class="col-6">
			{{ form.spokesperson_email|as_crispy_field }}
		 </div>
		</div>
		<div class="row">
		 <div class="col-4">
			{{ form.collaborator_name|as_crispy_field }}
		 </div>
		 <div class="col-4">
			{{ form.collaborator_nationality|as_crispy_field }}
		 </div>
		 <div class="col-4">
			{{ form.collaborator_home_institute|as_crispy_field }}
		 </div>
		</div>
		 <br><br>
		 <b>Beam information</b>
		 <hr class="divider"></hr>

		<div class="row">
			<div class="col-6">
			 {{ form.start_date|as_crispy_field }}
			</div>
		    <div class="col-6">
			 {{ form.end_date|as_crispy_field }}
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-6">
  				{#{ form.Different_Beams|as_crispy_field }#}
 			</div>
		</div>
		<div class="row justify-content-center">
			<!--<div id="hidden1">-->
				<div class="col-6">
	  			{{ form.ion_species|as_crispy_field }}
				{{ form.energy|as_crispy_field }}
				{{ form.flux|as_crispy_field }}
				{{ form.hours_requested|as_crispy_field }}
				{{ form.beam_note|as_crispy_field }}
				</div>
			<!--</div>
			<div id="hidden2">
				<div class="col-6">
	  			{#{ beam.Hours|as_crispy_field }#}
		  		{#{ beam.Ion_Species|as_crispy_field }#}
				{#{ beam.Energy|as_crispy_field }#}
				{#{ beam.Flux|as_crispy_field }#}
				</div>
			</div>
			<div id="hidden3">
				<div class="col-6">
	  			{#{ beam.Hours|as_crispy_field }#}
		  		{#{ beam.Ion_Species|as_crispy_field }#}
				{#{ beam.Energy|as_crispy_field }#}
				{#{ beam.Flux|as_crispy_field }#}
				</div>
			</div>
			<div id="hidden4">
				<div class="col-6">
	  			{#{ beam.Hours|as_crispy_field }#}
		  		{#{ beam.Ion_Species|as_crispy_field }#}
				{#{ beam.Energy|as_crispy_field }#}
				{#{ beam.Flux|as_crispy_field }#}
				</div>
			</div>-->
			<div>
				{#{ formset }#}
			</div>
		</div>
		<div class="row justify-content-center">
		  {{ form.requiered_equipment|as_crispy_field }}
		  {{ form.special_requirements|as_crispy_field }}
		  {{ form.special_safety_procedures|as_crispy_field }}
		  {{ form.lab_support_requirements|as_crispy_field }}
		  {{ form.funded|as_crispy_field }}
		  {{ form.summary|as_crispy_field }}
		</div>

	<div class="row justify-content-center">
    <div class="col-2">
      {{ form.year|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.month|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.week|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.day|as_crispy_field }}
    </div>
  </div>

    <br><br>
    <b>Hours delivered</b>
    <hr class="divider"></hr>

  <div class="row justify-content-center">

    <div class="col-2">
      {{ form.hours_deliverd|as_crispy_field }}
    </div>
    <div class="col-2">
      {#% for hours in hours_request %#}
      of {#{ hours_requested.Hours|as_crispy_field }#} hours requested
      {#% endfor %#}
    </div>
    <div class="col-2">
      
    </div>
  </div>

    <br><br>
    <b>Hours spend different</b>
    <hr class="divider"></hr>

  <div class="row justify-content-center">
    <div class="col-2">
      {{ form.woak|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.planned|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.unused|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.defelopment|as_crispy_field }}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">
      {{ form.calibration|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.general_error|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.rf_error|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.emc1_error|as_crispy_field }}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">
      {{ form.foeldi_error|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.cryo_error|as_crispy_field }}
    </div>
    <div class="col-2">
      {{ form.other_error|as_crispy_field }}
    </div>
    <div class="col-2">
      
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
       {{ form.notes|as_crispy_field }}
    </div>
  </div>
		<div class="row justify-content-center">
			<button type="submit" class="btn btn-success">Save New Request</button>
		</div>
	</form>
<br><br><br>

<script type="text/javascript">
    $('#hidden2').css({
       'display': 'none'
    });
    $('#hidden3').css({
       'display': 'none'
    });
    $('#hidden4').css({
       'display': 'none'
    });
    $('#id_Different_Beams').on('change', function() {
       if (this.value === '2') {
           $('#hidden1').show();
           $('#hidden2').show();
           $('#hidden3').hide();
           $('#hidden4').hide();
       }
       else if ($(this).val() == '3') {
           $('#hidden1').show();
           $('#hidden2').show();
           $('#hidden3').show();
           $('#hidden4').hide();
       }
       else if ($(this).val() == '4') {
           $('#hidden1').show();
           $('#hidden2').show();
           $('#hidden3').show();
           $('#hidden4').show();
       }
       else {
           $('#hidden1').show();
           $('#hidden2').hide();
           $('#hidden3').hide();
           $('#hidden4').hide();
       }
    });
</script>
{% endblock %}
