<!-- request home.html -->
{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome <b>{{ user.username }}</b> what would you like to do?</p><br>
<p><a href="/beamrequest/create/" class="btn btn-success">New Request</a></p><br>
<p><a href="/search/?act=update&page=beamrequest" class="btn btn-primary">Edit Request</a></p><br>
<p><a href="/search/?act=delete" class="btn btn-danger">Delete Request</a></p><br>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}