<!-- request update.html -->
{% extends 'base.html' %}


{% load crispy_forms_tags %}

{% block extrahead %}
	
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

	<form method="post" novalidate>
		{% csrf_token %}
		<div class="Error_Messages">
			{% for error in form.non_field_errors %}
    			{{ error }}
			{% endfor %}
		</div>

		<br><br>

		<b>Internal contact information</b>
		<hr class="divider"></hr>

		<div class="row justify-content-center">
			<div class="col-6">
			 {{ form.project_code|as_crispy_field }}
			</div>
			<div class="col-6">
			 {{ form.partrec_contact_name|as_crispy_field }}
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-6">
			 {{ form.pac_rate|as_crispy_field }}
			</div>
			<div class="col-6">
			 {{ form.partrec_contact_email|as_crispy_field }}
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-6">
			 {{ form.previous_experiment|as_crispy_field }}
			</div>
			<div class="col-6">
			 {{ form.status|as_crispy_field }}
		 </div>
		</div>


		<br><br>
		<b>External contact information</b>
		<hr class="divider"></hr>

		<div class="row justify-content-center">
		 <div class="col-6">
			{{ form.project_title|as_crispy_field }}
		 </div>
		</div>

		<div class="row justify-content-center">
		 <div class="col-6">
			{{ form.spokesperson_name|as_crispy_field }}
		 </div>
		 <div class="col-6">
			{{ form.spokesperson_adress|as_crispy_field }}
		 </div>
		</div>

		<div class="row justify-content-center">
		 <div class="col-6">
			{{ form.spokesperson_phonenumber|as_crispy_field }}
		 </div>
		 <div class="col-6">
			{{ form.spokesperson_email|as_crispy_field }}
		 </div>
		</div>
		<div class="row justify-content-center">
		 <div class="col-4">
			{{ form.collaborator_name|as_crispy_field }}
		 </div>
		 <div class="col-4">
			{{ form.collaborator_nationality|as_crispy_field }}
		 </div>
		 <div class="col-4">
			{{ form.collaborator_home_institute|as_crispy_field }}
		 </div>
		</div>
		 <br><br>
		 <b>Beam information</b>
		 <hr class="divider"></hr>

		<div class="row justify-content-center">
			<div class="col-6">
			 {{ form.start_date|as_crispy_field }}
			</div>
		    <div class="col-6">
			 {{ form.end_date|as_crispy_field }}
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-6">
  				{{ form.Different_Beams|as_crispy_field }}
 			</div>
		</div>
		<div class="row justify-content-center">
			<!--<div id="hidden1">-->
			<div class="col-6">
	  			{{ form.ion_species|as_crispy_field }}
	  		</div>
	  		<div class="col-6">
				{{ form.energy|as_crispy_field }}
			</div>
	  		<div class="col-6">
				{{ form.flux|as_crispy_field }}
			</div>
	  		<div class="col-6">
	  		</div>
	  		<div class="col-6">
				{{ form.hours_requested|as_crispy_field }}
			</div>
	  		<div class="col-6">
				{{ form.hours_deliverd|as_crispy_field }}
			</div>
	  		<div class="col-12">
				{{ form.beam_note|as_crispy_field }}
			</div>

		</div>
		<div class="row justify-content-center">
  		<div class="col-12">
		  {{ form.requiered_equipment|as_crispy_field }}
		  {{ form.special_requirements|as_crispy_field }}
		  {{ form.special_safety_procedures|as_crispy_field }}
		  {{ form.lab_support_requirements|as_crispy_field }}
		  {{ form.funded|as_crispy_field }}
		  {{ form.summary|as_crispy_field }}
		</div>
		</div>

		<div class="row justify-content-center">
			<button type="submit" class="btn btn-success">Update Request</button>
		</div>
	</form>
<br><br><br><br>

{% endblock %}